<!DOCTYPE html>
<html>
    <head>
        <title>My Form</title>
    </head>
<body>
    <h1>My Form</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ form.name.value }}">
        {% if form.name.errors %}
            <ul>
                {% for error in form.name.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
            {% endif %}
            <br>
            {{ form.submit }}
        </form>
    </body>
</html>